.preloadImage1 {
  // trick to load images to avoid flickering on selection
  background-image: url('../../assets/marble_p2.png');
}
.preloadImage2 {
  background-image: url('../../assets/marble_p1.png');
}

.stage {
  margin: auto;
}

.board {
  margin: inherit;
  background-repeat: no-repeat;
  border-spacing: 0;
}

.block {
  height: 96px;
  width: 96px;
  background-repeat: no-repeat;
  background-position: center;
}

.piece {
  background-image: url('../../assets/marble.png');
  cursor: pointer;
}

.obstacle {
  background-image: url('../../assets/stone.png');
}

.selectedPlayer1 {
  background-image: url('../../assets/marble_p1.png');
  cursor: pointer;
}

.selectedPlayer2 {
  background-image: url('../../assets/marble_p2.png');
  cursor: pointer;
}

.empty {
  background-image: url('../../assets/tile.png');
}

.tutorial {
  width: 500px;
  height: 500px;
  margin: auto;
  display: block;
  padding: 10px;
  background-color: #ede275;
}
