@import 'src/styles/_base.scss';

.preloadImage1 {
  // trick to load images to avoid flickering on selection
  background-image: url('../../assets/marble_p2.png');
}
.preloadImage2 {
  background-image: url('../../assets/marble_p1.png');
}

.stage {
  margin: auto;
}

.gameArea {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 65%;
}

.board {
  margin: 0;
  background-repeat: no-repeat;
  border-spacing: 0;
  padding: 4px;
  border-radius: 4px;
  border-top-left-radius: 0;
}

.gameAreaSmall {
  width: 50%;
}

.gameAreaRest {
  width: 65%;
}

.p1 {
  background-color: $player1;
}

.p2 {
  background-color: $player2;
}

.block {
  height: auto;
  width: 96px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  touch-action: none;
}

.blockSmall {
  padding-top: 25%;
}

.blockNormal {
  padding-top: 20%;
}

.blockBig {
  padding-top: 16%;
}

.piece {
  background-image: url('../../assets/marble.png');
  cursor: pointer;
}

.obstacle {
  background-image: url('../../assets/stone.png');
}

.selectedPlayer1 {
  background-image: url('../../assets/marble_p1.png');
  cursor: pointer;
}

.selectedPlayer2 {
  background-image: url('../../assets/marble_p2.png');
  cursor: pointer;
}

.empty {
  background-image: url('../../assets/tile.png');
}

.tutorial {
  width: 500px;
  margin: auto;
  display: block;
  box-shadow: 0px 0px 0px 6px $main-ui;
  max-width: 100%;
}

@media (max-width: 720px) {
  .gameAreaRest {
    width: 70%;
  }
  .gameAreaSmall {
    width: 60%;
  }
}

@media (max-width: 520px) {
  .gameAreaRest {
    width: 100%;
  }
  .gameAreaSmall {
    width: 80%;
  }
}
