.stage{
  margin: auto;
}

.board#start {
 margin: inherit;
 background-repeat: no-repeat;
}

.board td{
    height: 100px;
    width: 100px;
    background-repeat: no-repeat;
    background-position: center;
}

.marble{
  background-image: url('components/Game/assets/marble.png');
  background-repeat: no-repeat;
  cursor: pointer;
  background-position: center;
}

.obstacle{
  background-image: url('components/Game/assets/stone.png');
  background-repeat: no-repeat;
  background-position: center;
}

 .selected#Player1{
  background-image: url('components/Game/assets/marble_p1.png');
    cursor: pointer;
      background-repeat: no-repeat;

}

.selected#Player2{
  background-image: url('components/Game/assets/marble_p2.png');
    cursor: pointer;
      background-repeat: no-repeat;

}

.selected {
  background-image: url('components/Game/assets/marble.png');
    background-repeat: no-repeat;
}
.empty {
 background-image: url('components/Game/assets/tile.png');
 background-repeat: no-repeat;
}

#end {
 visibility: hidden;
 display: inline-block;
 font-family: cursive;
 margin: 0px;
 vertical-align: middle;
 height: 60px;
 text-align: center;
 line-height: 45px;
}

img.end {
  width: 600px;
  height: 600px;
  display: inline-block;
  margin: 0px;
  padding: 10px;
  background-color: #EDE275;
}
img.start {
  display: none;

}

.end{
  display:none;
}
