button {
  background: #6a8fa8;
  background-image: -webkit-linear-gradient(top, #6a8fa8, #4d9ed1);
  background-image: -moz-linear-gradient(top, #6a8fa8, #4d9ed1);
  background-image: -ms-linear-gradient(top, #6a8fa8, #4d9ed1);
  background-image: -o-linear-gradient(top, #6a8fa8, #4d9ed1);
  background-image: linear-gradient(to bottom, #6a8fa8, #4d9ed1);
  -webkit-border-radius: 60;
  -moz-border-radius: 60;
  border-radius: 10px;
  text-shadow: 1px 1px 3px #666666;
  color: #f5f5f5;
  font-size: 24px;
  padding: 20px 40px 20px 40px;
  text-decoration: none;
  font-family: cursive;
  margin: 60px 40px;
  vertical-align: center;
  height: 50%;
  width: 25%;
}
button:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
button:active {
  background: #487d9c;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

button:focus {outline:0;}

div.start{
  display: inline-block;
  width: 40%;
 vertical-align: middle;
}


button.start {
  display: inline-block;
  font-family: cursive;
}

.end{
  display:none;
}
