span#Player1{
    background-color: #E55B3C;
    display: inline-block;
    font-family: cursive;
    margin: 0px;
    vertical-align: middle;
    height: 60px;
    text-align: center;
    line-height: 45px;
    font-size: 30px;
}

span#Player2{
    background-color: #6495ED;
    display: inline-block;
    font-family: cursive;
    margin: 0px;
    vertical-align: middle;
    height: 60px;
    text-align: center;
    line-height: 45px;
    font-size: 30px;
}

#end {
 visibility: hidden;
 display: inline-block;
 font-family: cursive;
 margin: 0px;
 vertical-align: middle;
 height: 60px;
 text-align: center;
 line-height: 45px;
}

.info{
  margin: 40px;
}

div.start{
  display: inline-block;
  width: 40%;
 vertical-align: middle;
}

#prog {
  height: 60px;
  border: 5px;
  border-color: black;
  background-color: #E5E4E2;
  margin: 0px 0px 0px 80px;
}

#prog div {
 font-size: 24px;
 font-family: cursive;
 line-height: 60px;
 background-color: #89C35C;
}

h3.end {
  vertical-align: middle;
  font-size: 34px;
  font-family: cursive;
  display: block;
  font-weight: bold;
}
h3.start {
  visibility: hidden;
}

.end{
  display:none;
}
