.stage{
  margin: auto;
}

.board {
 margin: inherit;
 background-image: url('components/Game/assets/board_small.jpg');
 background-repeat: no-repeat;
height: 610px;
}

button {
  background: #6a8fa8;
  background-image: -webkit-linear-gradient(top, #6a8fa8, #4d9ed1);
  background-image: -moz-linear-gradient(top, #6a8fa8, #4d9ed1);
  background-image: -ms-linear-gradient(top, #6a8fa8, #4d9ed1);
  background-image: -o-linear-gradient(top, #6a8fa8, #4d9ed1);
  background-image: linear-gradient(to bottom, #6a8fa8, #4d9ed1);
  -webkit-border-radius: 60;
  -moz-border-radius: 60;
  border-radius: 10px;
  text-shadow: 1px 1px 3px #666666;
  color: #f5f5f5;
  font-size: 24px;
  padding: 20px 40px 20px 40px;
  text-decoration: none;
  font-family: cursive;
  margin: 50px 60px;
}
button:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
button:active {
  background: #487d9c;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

button:focus {outline:0;}

.board td{
    height: 100px;
    width: 100px;
    background-repeat: no-repeat;
    background-position: center;
}

.marble{
  background-image: url('components/Game/assets/marble.png');
}



.obstacle{
  background-image: url('components/Game/assets/stone.png');
}

 .selected#Player1{
  background-image: url('components/Game/assets/marble_p1.png');
}

.selected#Player2{
  background-image: url('components/Game/assets/marble_p2.png');
}

.selected {
  background-image: url('components/Game/assets/marble.png');
}
span#Player1{
    background-color: #E55B3C;
    display: inline-block;
    font-family: cursive;
    margin: 0px;
    vertical-align: middle;
    height: 60px;
    text-align: center;
    line-height: 45px;
}

span#Player2{
    background-color: #6495ED;
    display: inline-block;
    font-family: cursive;
    margin: 0px;
    vertical-align: middle;
    height: 60px;
    text-align: center;
    line-height: 45px;
}

#end {
 visibility: hidden;
 display: inline-block;
 font-family: cursive;
 margin: 0px;
 vertical-align: middle;
 height: 60px;
 text-align: center;
 line-height: 45px;
}

.info{
  margin: 40px;
}

div.start{
  display: inline-block;
  width: 40%;
 vertical-align: middle;
}

#prog {
  height: 60px;
  border: 5px;
  border-color: black;
  background-color: #E5E4E2;
  margin: 0px 0px 0px 80px;

}

#prog div {
 font-size: 24px;
 font-family: cursive;
 line-height: 60px;
 background-color: #89C35C;
}

button.start {
  display: inline-block;
  margin: 50px 100px;
  font-family: cursive;
}

.end{
  display:none;
}
