@import 'src/styles/_base.scss';

.content {
  h2 {
    font-size: 26px;
  }

  p {
    font-size: 20px;
    line-height: 1.5;
  }

  img {
    width: 26px;
    height: 26px;
    margin: 0 2px;
  }

  a {
    color: rgb(53, 53, 53);
  }
}

.wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
  flex-wrap: wrap;
}

.card {
  height: 80px;
  box-shadow: $shadow-small;
  border-radius: 4px;
  background-color: $grey-light;
  max-width: 120px;
  display: block;
  text-decoration: none;
  color: black;
  padding: 24px;
  display: flex;
  align-items: center;
  margin: auto;
  justify-content: center;
  &:hover {
    box-shadow: $shadow-small-hover;
  }
}

.container {
  padding: 48px 24px;
  text-align: center;
}

@media (max-width: 720px) {
  .wrapper {
    justify-content: center;
  }
}
