@import 'src/styles/_base.scss';

.gameInfo {
  display: flex;
}

.playerInfo {
  min-width: 35%;
  font-family: cursive;
  padding: 6px 6px 6px 8px;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
}
.p1 {
  background-color: $player1;
}

.p2 {
  background-color: $player2;
}

@media (max-width: 720px) {
  .playerInfo {
    font-size: 0.8rem;
  }
}

@media (max-width: 520px) {
  .playerInfo {
    font-size: 0.7rem;
  }
}
