.info {
  display: inline-block;
  font-family: cursive;
  margin: 0px;
  vertical-align: middle;
  height: 60px;
  text-align: center;
  line-height: 45px;
  font-size: 30px;
  margin-bottom: 20px;
}
.p1 {
    background-color: #E55B3C;
}

.p2 {
    background-color: #6495ED;
}