#tableFixed thead {
  width: 100%;
}
#tableFixed tbody {
  height: 230px;
  overflow-y: auto;
  width: 100%;
}
#tableFixed tbody, #tableFixed tr, #tableFixed td, #tableFixed th {
  display: block;
}
#tableFixed tbody td, #tableFixed thead > tr> th {
  text-align: center;
  float: left;
  border-bottom-width: 0;
}

#tableFixed input {
  width: 50%;
  display: inline;
  margin-right: 5px;
}

.newGame {
  text-align: left;
}

.newGame a#no{
  margin: 10px;
  font-size: 20px;
}
.newGame a#yes, .newGame form#yes{
  display: none;
}

.newGame form#no {
  display: block;
}

.newGame p#yes, .newGame button#yes{
  display: block;
}
.newGame p#no, .newGame button#no{
  display: none;
}
.newGame input{
  width: 50%;
}
.newGame div {
  margin: 10px;
}

input#no {
  display:none;
}
