
h2 {
font-size: 26px;
}

p {
font-size: 20px;
line-height: 28px;
}

img {
  width: 26px;
  height: 26px;
  margin: 0 2px;
}

a {
  color: rgb(53, 53, 53);
}

.wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
  flex-wrap: wrap;
}